<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd >
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.thebends.iphonedisk.loopback_fs</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/aporter/Documents/iphonedisk/branches/iphonedisk2/test/loopback_fs_server</string>
      <string>org.thebends.iphonedisk.fs_service_rpc</string>
    </array>
    <key>KeepAlive</key>
    <false/>
    <key>OnDemand</key>
    <true/>
    <key>MachServices</key>
    <dict>
      <key>org.thebends.iphonedisk.fs_service_rpc</key>
      <true/>
    </dict>
    <key>Debug</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/loopback_fs_server.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/loopback_fs_server.err</string>
  </dict>
</plist>

